canvas { 
    overflow: hidden;
    width:100vw;
    height:100vh;
    background-color: rgb(0, 3, 6);
    position:absolute; 
    top:0;
    left:0;
    z-index: -1;
 }
 main{
    margin:auto;
    width:fit-content;
 }
 label, input, button, spans{
    display: block;
}